@font-face {
    font-family: "Quicksand";
    src: url("/assets/Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf")
        format("truetype");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #eeeeee;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background: #202a36;
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100%;
    height: 56px;
}

.header > div {
    margin: 0 10px;
    font-family: "Quicksand";
    font-size: 14px;
    color: #8ddc97;
}

.header > .collapse {
    padding: 17px 0;
}

.header > .dash {
    border-bottom: solid white 3px;
    border-radius: 2px;
    color: white;
}

.header > .logo {
    margin-right: auto;
    flex-grow: 0;
}

.visible {
    display: flex;
    align-items: center;
    justify-items: center;
}

.visible > div > img {
    width: 24px;
    margin: 0 5px;
}

.visible > div {
    width: 60px;
}

.badge {
    left: 35px;
    top: -18px;
    position: relative;
    background: #2a7ff3;
    border-radius: 10px;
    width: 15px;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 12px;
}

svg:hover > path {
    fill: white;
}

.profile-pic:hover {
    border: white solid 2px;
}

.badge-profile {
    left: 42px;
    top: -22px;
    background: white;
    color: black;
    font-size: 10px;
    width: 12px;
}

.profile-pic {
    border-radius: 15px;
    border: #3fd28b 2px solid;
}

.notifications:hover > .notifications-badge {
    background: transparent;
    color: transparent;
}

.notifications:hover > .notifications-panel-outer {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}

.alerts:hover > .alerts-panel-outer > .alerts-panel > .viewed,
.alerts:hover > .alerts-panel-outer > .alerts-panel > .unviewed,
.notifications:hover
    > .notifications-panel-outer
    > .notifications-panel
    > .viewed,
.notifications:hover
    > .notifications-panel-outer
    > .notifications-panel
    > .unviewed {
    transform: scale(1);
}

.alerts:hover > .alerts-panel-outer {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}

.alerts:hover > .alerts-badge {
    background: transparent;
    color: transparent;
}

.alerts-panel-outer {
    visibility: collapse;
    position: fixed;
    top: 59px;
    right: 120px;
    background: white;
    height: 582px;
    box-shadow: 0px 3px 6px rgba(0, 0, 61, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.notifications-panel-outer {
    visibility: collapse;
    position: fixed;
    top: 59px;
    right: 180px;
    height: 532px;
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 61, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.alerts-panel {
    display: inline-block;
    overflow-y: scroll;
    height: 532px;
}

.notifications-panel {
    display: inline-block;
    overflow-y: scroll;
    height: 532px;
}

/* STARTS
General div for alerts and notifications
 */

.viewed {
    background: #ffffff;
}

.unviewed {
    background: #ffffee;
}

.viewed,
.unviewed {
    display: grid;
    grid-template-columns: auto 15px;
    grid-auto-rows: auto;
    gap: 8px;
    padding: 16px;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    width: 283px;
    transform: scale(0);
    transition: all 1s ease;
}

.viewed > div,
.unviewed > div {
    grid-column: span 2;
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}

/* ENDS
General div for alerts and notifications
 */

/* STARTS
Specifics for notifications
  */

.viewed > .notification-name,
.unviewed > .notification-name {
    grid-column: span 1;
}

.viewed > .class-from,
.viewed > .course-from,
.unviewed > .class-from,
.unviewed > .course-from {
    font-size: 12px;
}

.class-from > span,
.course-from > span {
    color: #6e6e6e;
}

.viewed > .notification-date,
.unviewed > .notification-date {
    text-align: end;
    color: #6e6e6e;
    font-size: 12px;
}

.viewed > .notification-icon,
.unviewed > .notification-icon {
    grid-column: 2/3;
    grid-row: 1/-1;
}

/* ENDS
Specifics for notifications
  */

/* STARTS
Specifics for alerts
  */

.viewed > .alert-pa,
.unviewed > .alert-pa,
.viewed > .alert-name,
.unviewed > .alert-name {
    grid-column: span 1;
}

.viewed > .alert-icon,
.unviewed > .alert-icon {
    grid-column: 2/3;
    grid-row: 1/-1;
}

.viewed > .alert-date,
.unviewed > .alert-date {
    color: #6e6e6e;
    font-size: 12px;
    display: flex;
}

.alert-date > .alert-date-left {
    margin-left: auto;
}

.alert-pa > span {
    color: #6e6e6e;
}

.viewed > .alert-pa,
.unviewed > .alert-pa {
    font-size: 12px;
}

/* STARTS
Specifics for alerts
  */

/* STARTS
For endings of alerts-panel and notifications-panel
  */

.empty-space {
    height: 50px;
}

.show-all {
    bottom: 0;
    position: fixed;
    background: white;
    width: 283px;
    padding: 15px;
    border-top: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #1f7a54;
}

/* ENDS
For endings of alerts-panel and notifications-panel
  */

/* STARTS
    Ham-menu - expand
   */

.menu-items > .expand-arrow,
.expand > .expand-arrow {
    margin-left: auto;
}

.menu-items,
.expand {
    display: flex;
    align-items: center;
}

.ham-menu > .expand {
    visibility: collapse;
    height: 0px;
    width: 0px;
    padding: 0px;
    opacity: 0;
    transition: all 500ms ease;
}

.menu-items:hover + .expand {
    visibility: visible;
    background: #f3f3f3;
    height: auto;
    width: auto;
    padding: 15px 16px;
    padding-left: 50px;
    opacity: 1;
}

.menu-items:hover {
    background: #f3f3f3;
}

/* END
    Ham-menu - expand
   */

.main {
    background: #eeeeee;
    padding: 70px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px 60px auto;
    grid-gap: 10px;
    flex: 1;
}

.panel {
    background: #8ddc97;
    font-family: "Quicksand";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    justify-items: center;
    align-items: center;
}

.course-classes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92%;
}

.course-classes > div {
    margin: 0 5px;
}

.number {
    font-weight: 800;
    font-size: 22px;
}

.text {
    font-size: 14px;
    font-weight: 500;
}

.n-courses {
    border-bottom: black 3px solid;
}

.sort {
    display: flex;
    border-bottom: #afafaf 1px solid;
    align-items: center;
    padding-bottom: 10px;
}

.showing {
    margin-right: auto;
    font-family: "Quicksand";
    font-size: 10px;
    flex: 5;
}

.sort-by {
    flex: 2;
    display: flex;
    font-family: "Quicksand";
    font-size: 10px;
    align-items: center;
}

.sort-by > select {
    flex: 2;
    border: none;
    appearance: none;
    background: #eeeeee;
    background-image: url("/assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 16px;
    border-bottom: #afafaf 1px solid;
    min-width: 150px;
}

.sort-by > * {
    margin: 5px 5px;
}

.course-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    justify-items: center;
    font-family: "Quicksands";
    flex: 0;
    margin-bottom: auto;
}

.course {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background: white;
    padding: 20px 20px 5px;
    max-width: 500px;
    width: 90%;
}

.details {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
    padding-bottom: 5px;
    font-family: "Quicksand";
    height: 160px;
}

.details > .course-img {
    grid-column: 1;
    grid-row: 1 / span 6;
}

.course-details {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: auto auto auto auto auto;
}

.course-details > div {
    margin: 5px 0;
}

.course-content {
    display: flex;
    font-weight: 600;
}

.course-name {
    margin-right: auto;
    font-size: 14px;
}

.sub-grade {
    display: flex;
    font-size: 11px;
    color: #777777;
    grid-row: 2;
}

.favourite {
    grid-column: 2;
    grid-row: 1/-1;
}

.units {
    font-size: 12px;
    grid-row: 3;
}

.sub-grade > div {
    margin-right: 5px;
}

.classes {
    grid-column: span 1;
}

.n-classes {
    border: none;
    font-family: "Quicksand";
    font-weight: 600;
    appearance: none;
    background-image: url("/assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: solid #afafaf 1px;
    width: 100%;
}

.student {
    display: flex;
    font-size: 11px;
}

.student > div {
    margin-right: 7px;
    color: #777777;
}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border-top: #afafaf solid 1px;
    padding-top: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    padding-bottom: auto;
    margin-bottom: 10px;
}

.contact > div {
    margin: 0 5px;
    font-family: "Quicksand";
    font-size: 13px;
    color: #777777;
}

.footer {
    background: #e0e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand";
    font-size: 11px;
    color: #777777;
    height: 30px;
    width: 100%;
}

.footer > div {
    margin: 0 5px;
}

.invisible {
    display: none;
}

@media screen and (max-width: 768px) {
    .invisible {
        display: block;
    }

    .mobile-menu > div {
        width: 20px;
        height: 2px;
        background-color: #8ddc97;
        margin: 3px 0;
        border-radius: 10px;
    }

    .collapse {
        display: none;
    }

    .invisible:hover > .mobile-menu > div {
        background-color: white;
    }

    .invisible:hover > .ham-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    .invisible:hover > .ham-menu > div {
        transform: scale(1);
    }
}

.ham-menu > .menu-items {
    padding: 15px 16px;
    transform: scale(0);
    transition: all 1s ease;
}

.ham-menu {
    visibility: collapse;
    position: fixed;
    top: 59px;
    right: 16px;
    width: 280px;
    background: white;
    font-size: 14px;
    font-weight: 500;
    color: #1f7a54;
    box-shadow: 0px 3px 6px rgba(0, 0, 61, 0.3);
    border-radius: 2px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}
